// .header{
//     h2{
//         background-color: blueviolet;
//     }
// }

@media (max-width: 596px) {
    .header{
        h2{
            background-color: blueviolet;
            display: block;
            width: 100vw;
            display: none;
        }
    }
  }